.centerY{
margin: 50% 0px 50% 0px;
}
.centerXY{
margin: 50% 50% 50% 50%;
}

.modalStyle  .ant-modal-content{
background-color: #0B3E5D;
}
.modalStyle  .ant-modal-header{
background-color: #0B3E5D;
color:white
}

.background{
 background:  url("../images/welcome_bg.jpg");
 background-size: cover;
 background-color: #cccccc;
  background-repeat: no-repeat;
}